p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  white-space: pre !important;
  overflow-y: scroll !important;
  max-height: 50vh !important;
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal table {
    display: block !important;
}
